- content_for :title do 
  = t('activerecord.models.description.payment_method')
- content_for :flash do 
  = render :partial => "shared/flash_messages", :locals => {:messages => [:error, :success]}
  
= render :partial => 'form', :locals => {:button_text => t('activerecord.operations.edit')}

