- messages.each do |key|
  - if flash[key]
    %span{:class => "message"}
      %span{:class => "#{key}"}
        = flash[key]
        = link_to_remote '[x]', :url => {:action => :close}, :update => 'flash-resource'
