@import screen.sass



-# Colores
-# -------------------------------

-# 1, dark and medium slate blue 
!header = #483D8B 
!menu = #7B68EE

-# 2, dark blue
!link = #00008B  	

-# 3, lavender
!resource_header = #E6E6FA

-# 3a, Lemon chiffon
!edit = #FFFACD

-# 3b, Light green
!success = #90EE90 

-# 3c, Light coral
!error = #f08080 	


!background = #e5e5e5
!content = #f2f2f2
!content_shadow = #A5A5A5
!border = #ddd
!black = #333



-# General
-# -------------------------------
body
  :overflow auto !important
  
  a, a:visited
    :color = !link
    
  a:active, a:hover
    :color = !black
    
  a.destroy:active, a.destroy:hover
    :color = !error !important



-# Login
-# -------------------------------

body.login
  +container
  
  #header
    +column(24, last)
  
  #content
    +column(24, last)
    
    .logo-container 
      :margin-top 5em  
      
      .logo
        :background = !header
        :color = !background
        
        h1
          :margin 0
          :padding .5em
          :color = !background
          
          .title 
            :font-size small
            :float right
      
    .form-container, .logo-container
      +column(8, last)
      +prepend(8)  
      
      .form
        +box
        :background = !resource_header
        
        p  
          :padding .5em
          :margin-bottom 1em
          
        #user_name, #user_email, #user_password, #user_password_confirmation, #user_current_password
          :width 70%          
          :font-size large
          :padding .2em 0
          
        label
          :font-size small
          :font-weight normal
          
        
        
  #footer
    +column(24, last)
    
    .footer-container
      +column(8, last)
      +prepend(8)
      :text-align right
      
      .highlight
        :background = !header
        :padding .5em
        
        a, a:visited
          :color = !background
  
  
        

-# Dashboard
-# -------------------------------
body.dashboard
  +container  
  :width 100%
  :background = !background
  
  #flash-top
    +column(24, last)
    :text-align center
    
  #flash-resource
    :float right
    :font-weight normal
    :font-size small
    
    .success
      :background = !success
    
  #flash.top, #flash.resource
    .flash
      :margin 0
      :border none
      :padding .2em 1em
    .close
      :cursor pointer
  
  #header
    +column(24, last)
    :background = !header
    :padding 0
    :color = !background
    
    a
      :color = !background
    
    #logo 
      +column(12, last)
      
      h1
        :margin-bottom 0
        :margin-left .1em
        a
          :text-decoration none  
    
    #account
      +column(12, last)      
      
      ul
        +horizontal-list
        :float right
        :margin 0
      
    #menu, #menu2
      +column(12, last)
      :font-size larger
      :margin-top 1em
      
      ul
        +horizontal-list
        :margin 0
      
    #menu2
      ul
        :float right
        
    #menu 
      ul.main_menu
        li
          :background = !menu
          :padding .5em .7em
          :border-right = 2px solid !header
          
          a
            :text-decoration none
            :font-weight bold
      
        li.active
          :background = !background
          
          a
            :color = !header
      
  
  #content
    +column(18, last)
    :-moz-box-shadow = .2em .2em .1em !content_shadow
    :-webkit-box-shadow = .2em .2em .1em !content_shadow
    :margin 1.5em 1.5em 0
    
    #title
      :background = !resource_header
      :padding 1em .5em
      :font-size larger
      :font-weight bold
    
    #body
      :background = !content
      :padding 0 .5em
      
    .errorExplanation
      :border 1px solid indianRed
      :color indianRed      
      :margin-bottom 1em      
      
      h2
        :background indianRed
        :padding .3em
        
      p
        :padding 1em  
        
    .fieldWithErrors
      input, textarea, select
        :border 1px solid indianRed
        :color indianRed
    
  #sidebar
    +column(4, last)
    :margin 1.5em 1.5em 0
    
    
    
  #footer
    +column(24, last)
    :margin-top 3em
        
    p
      :float right
      :margin-right 1em
    
    
    
-# Expenses
-# -------------------------------    

#content.expenses
  ul.edit, ul.new, ul.header, ul.items
    +horizontal-list
    :margin 0
    :padding 0
    
    li
      :margin 0
      :padding 0
    
    li.date
      +column(6)
    li.amount
      +column(5)
    li.category
      +column(5)
    li.tags
      +column(5, last)
    li.buttons
      +column(2, last)
      :float right

  #new_expense, #edit_expense
    :padding 1em 0
    :background = !edit
    :margin-bottom 2em
    
    input
      :padding 0
    
    #expense_amount
      :width 70%
    
    #expense_category_id, #expense_tags_saved  
      :width 100%
    
    #expense_tag_list
      :width 97%
    
  
  #index_expenses
    +column(24, last)
    :background inherit
    :padding-bottom 1em
    
    .header, .items, .item
      +column(24, last)
    
    ul.header
      :margin-bottom .5em
      
      li
        :font-weight bold
        
    .items
      .item
        :padding .2em 0
        :border-bottom = 1px solid !border
        
      .even 
        :background = !background
      
      .odd
        :background = !content
      
    #edit_expense
      +column(24, last)      
        


-# Categories
-# -------------------------------     

#content.categories
  #body
    :padding 1.5em .5em !important 
  
    ul#sitemap
      li       
        a
          :text-decoration none
          :color = !black
          :font-size larger
        
        .description
          :padding 0
          :margin 0
          :display inline
          :font-size small
          :margin-left 1em
          :color = !content_shadow
          :font-style italic
          
    #edit_category
      :background = !edit
      
      ul.edit
        +horizontal-list
        :margin 0
        :padding 0
        :display inline
        
        li
          :margin 0
          :padding 0
          :background = !edit
          :font-size small
        
        li.name
          +column(6)
        li.description
          +column(6)
          :font-style normal
          :color = !black
        li.parent
          +column(6)
        li.buttons
          +column(5, last)
          :padding-top 2em
          
          a
            :color = !link
            :text-decoration underline
            :padding 0
            :margin 0
            :font-size small  
        
        
  table
    :padding 1.5em 0

    tr.even td
      :background = !background

    
-# Common
-# -------------------------------        
    
.block
  :display block
  :overflow hidden
  
.box
  :padding 1.5em 1.5em 0 
  
a.inactive 
  :cursor default !important 
    
  
