@import screen.sass



-# Colores
-# -------------------------------

-# 1, dark and medium slate blue 
!header = #483D8B 
!menu = #7B68EE

-# 2, dark blue
!link = #00008B  	

-# 3, lavender
!resource_header = #E6E6FA

-# 3a, Lemon chiffon
!edit = #FFFACD

-# 3b, Light green
!success = #90EE90 

-# 3c, Indian red
!error = #CD5C5C 	


-# from Compass/Blueprint
!black = #333


!background = #e5e5e5
!content = #f2f2f2
!content_shadow = #A5A5A5
!white_gray = #f9f9f9
!border = #ddd
!gray = #808080



-# General
-# -------------------------------
body
  :overflow auto !important
  
  a, a:visited
    :color = !link
    
  a:active, a:hover
    :color = !black
    
  a.destroy:active, a.destroy:hover
    :color = !error !important



-# Login
-# -------------------------------

body.login
  +container
  
  #header, #content, #footer
    +column(8, last)
    +prepend(8)
    
  #header  
    :margin-top 5em
      
    .box
      +box
      :margin-bottom 0
      :background = !header
      :color = !background
            
      .logo
        +column(8, last)
        
        h1
          :color = !background
      
      .title
        +column(16, last)
        :text-align right
      
  #content
    .form
      +box
      :background = !resource_header
        
      p  
        :padding .5em
        :margin-bottom 1em
        
      #user_name, #user_email, #user_password, #user_password_confirmation, #user_current_password
        :width 70%          
        :font-size large
        :padding .2em 0
        
      label
        :font-size small
        :font-weight normal
        
      .links
        :text-align left
        
  #footer
    .highlight
      :background = !header
      :padding .5em
      :float right
      
      a, a:visited
        :color = !background


        

-# Dashboard
-# -------------------------------
body.dashboard
  +container  
  :width 100%
  :background = !background
  
    
  #header
    +column(24, last)
    :background = !header    
    :color = !background
    
    a
      :color = !background
    
    #logo 
      +column(12, last)
      
      h1
        :margin .1em .6em            
        a
          :text-decoration none  
         
    
    #account
      +column(12, last)      
      
      ul
        +horizontal-list
        :float right
        :margin .5em
  
  #menu
    +column(24, last)
    :background = !header 
    :font-size larger
    :padding-top 1em
    
    a
      :color = !background   
      
    ul
      +horizontal-list
      :margin 0      
        
    #resources
      +column(18, last)
      
      ul
        :margin 0 1.5em        
        li
          :background = !menu
          :padding .5em .7em
          :border-right = 2px solid !header          
          a
            :text-decoration none
            :font-weight bold
      
        li.selected
          :background = !background          
          a
            :color = !header  
    #info
      +column(6, last)
      ul
        :float right
        :margin .5em
    
  #submenu
    +column(17, last)
    +append(5)
    
    .navigation    
      +column(16, last)      
      ul
        +horizontal-list
        :margin .2em 2em        
        li
          :margin-right .1em
          :padding .5em .7em          
          a
            :color = !menu
            :text-decoration none                 
        li.selected
          :background = !background         
          a.selected          
            :color = !header
  
    #flash-top
      +column(8, last)   
      :text-align center
      
      .notice
        :background = !edit
        :border none
  
  
  #content, #sidebar
    :margin 0em 0 2em 2em   
    
  #content
    +column(17, last)    
    :-moz-box-shadow = .2em .2em .1em !content_shadow
    :-webkit-box-shadow = .2em .2em .1em !content_shadow    
    
    #titlebar
      :background = !resource_header
      :color = !header
      :padding 1em .5em
      :font-size larger
      :font-weight bold
      
      #title
        +column(16, last)      
        
      #flash-resource 
        +column(8, last)        
        :text-align right    
        :font-weight normal
        :font-size small
          
        .success
          :background = !success
          :border none
          
          
    
    #body
      :background = !content
      :padding 0
      
    .errorExplanation
      :border = 1px solid !error
      :color = !error      
      :margin-bottom 1em      
      
      h2
        :background = !error
        :padding .3em     
        :color = !content   
        
      p
        :padding 1em  
        
    .fieldWithErrors
      input, textarea, select
        :border = 2px solid !error
        :color = !error
    
  #sidebar
    +column(5, last)
    
    
    
  #footer
    +column(24, last)
    :margin-top 3em
        
    p
      :float right
      :margin-right 1em
    
    
.flash
  .message
    :padding .1em 0
    :margin 0
    
    .close
      :cursor pointer
      
    a.link
      :text-decoration none
      :color = !black 
           


-# Dashboard controller
-# -------------------------------
#dashboard-content
  :padding 1em    
    
    
    
-# Expenses
-# -------------------------------    
.expenses
  #content
    ul.edit, ul.new, ul.header, ul.items, ul.search, ul.stats
      +horizontal-list
      :margin 0
      :padding 0
      
      li
        :margin 0
        :padding 0
      
      li.date
        +column(6)
      li.amount
        +column(5)
      li.category
        +column(5)
      li.tags
        +column(5, last)
      li.buttons
        +column(2, last)
        :float right
        
    ul.stats
      :margin 1em 0      
      li
        :font-weight bold
        
    ul.items, #accordion, ul.stats
      :padding 1em 0.5em !important
      
    
    #new_expense, #edit_expense, #search_expense
      :padding 1em 0.5em
      :background = !edit
          
      input
        :padding 0
      
      #expense_amount
        :width 70%
      
      #expense_category_id, #expense_tags_saved  
        :width 100%
      
      #expense_tag_list
        :width 97%
      
      .errorExplanation
        h2
          :color = !edit
    
     
    #index_expenses, #search_expenses
      +column(24, last)
      :background inherit    
      
      .header, .items, .item
        +column(24, last)     
      
      ul.items
        :margin 0
                          
        .even 
          :background = !content
        
        .odd
          :background = !background
          :border-top = 1px solid !border
          
        ul.item
          :margin 0
          
          li
            :padding .5em 0
        
      #accordion
        :margin-top 2em
        
        h3
          :border-bottom = 1px solid !border
          :padding-bottom .2em
          :cursor pointer
          :text-transform lowercase
          :color = !gray
          
          .sum
            :float right
            :font-size small
            :margin-top .5em
         
        ul.items
          :padding 0 !important
          :margin-bottom 2em 
             
      
      #edit_expense
        +column(24, last)
       
        


-# Categories
-# -------------------------------     

.categories
  #content
    #body
      :padding 1.5em .5em !important 
      
        
      ul
        :list-style-type none
        
      ul#accordion
        :margin 1em 0
        
        .border
          :border-top = 1px solid !border     
        
        li  
          :padding-top .5em
          :margin-bottom .5em
          
          .toggle
            :font-size larger          
            :cursor pointer
            :color = !content_shadow 
          
          .spacer
            :min-width 1em
              
          .toggle, .spacer
            :margin-right .5em
                    
          a
            :text-decoration none
            :color = !black
            :font-size larger
          
          .description
            :padding 0
            :margin 0
            :display inline
            :font-size small
            :margin-left 1em
            :color = !content_shadow
            :font-style italic
            
      #edit_category
        +column(24, last)
        :background = !edit
        :padding .5em
        
        #category_name, #category_description 
          :width 80%
        
        #category_ancestry
          :width 81%
          
        #category_description
          :height 10em
        
        .column1
          +column(11)
          +append(1)
          
          .item
            :margin-bottom 1em
          
        .column2 
          +column(11, last)
          +prepend(1)  
            
          .item
            :margin-bottom 2em
            
          ul
            :margin 0 1em
            
            li
              :margin 0
              :padding 0
        
      #new_category   
        #category_name, #category_description 
          :width 40%
        
        #category_ancestry
          :width 41%
          
        #category_description
          :height 10em



-# Payment methods
-# -------------------------------        
        
  
    
-# Common
-# -------------------------------        

-# List header for Expenses
ul.header
  :padding 0 .5em !important
  :background = !content_shadow
  
  li
    :font-weight bold
    :padding 1em 0 !important
    :text-transform uppercase
    :color = !content 


    
.block
  :display block
  :overflow hidden
  
.box
  :padding 1.5em 1.5em 0 
  
a.inactive 
  :cursor default !important 
  
.link
  :color = !link
  :text-decoration underline
  :cursor pointer
