@import screen.sass



-# Colores
-# -------------------------------

  
!grayblue = #E5ECF9
!lightblue = #9BBBFA


-# General
-# -------------------------------
body
  :overflow auto !important




-# Login
-# -------------------------------

body.login
  +container
  
  #header
    +column(24, last)
  
  #content
    +column(24, last)
    
    .logo-container 
      :margin-top 10em  
      
      .logo
        :background = !lightblue
        
        h1
          :margin 0
          :padding .5em
          
          .title 
            :font-size small
            :float right
      
    .form-container, .logo-container
      +column(8, last)
      +prepend(8)  
      
      .form
        +box
        
        p  
          :padding .5em
          :margin-bottom 1em
          
        #user_name, #user_email, #user_password, #user_password_confirmation, #user_current_password
          :width 70%          
          :font-size large
          :padding .2em 0
          
        label
          :font-size small
          :font-weight normal
          
        
        
  #footer
    +column(24, last)
    
    p
      :margin-left 58%
      
      .highlight
        :background = !lightblue
        :padding .2em
  
  
        

-# Dashboard
-# -------------------------------
body.dashboard
  +container  
  :width 100%
  
  #flash
    :position relative
    :float right
    :z-index 1
    :top -4em
    :margin-right 1em
    
    .flash
      :margin 0
      :border none
      :padding .2em 1em
    .close
      :cursor pointer
  
  #header
    +column(24, last)
    :background = !lightblue
    :padding 1em 0
    
    
    #logo 
      +column(6, last)    
      
      h1
        :margin-bottom 0
        :margin-left .1em
        a
          :text-decoration none  
      
    #menu
      +column(12, last)
      :font-size larger
      :margin-top 1em
      
      ul
        +horizontal-list
        :float right
        :margin-right 1em
      
    #account
      +column(6, last)
      :margin-top 1.5em
      
      ul
        +horizontal-list
        :float right
        :margin-right 1em
  
  #content
    +column(24, last)
  
  #footer
    +column(24, last)
    :margin-top 3em
    :border-top = 1px solid !lightblue
    
    p
      :float right
      :margin-right 1em
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  
