%p
  Hello,
  %b
    = @resource.name

%p    
  Cineva (probabil Dvs.) a cerut resetarea / schimbarea parolei pentru contul de pe
  = link_to "Kobi.ro", "http://kobi.ro"

%p
  Schimbarea parolei se face la
  = link_to "aceasta adresa", edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  (
  = edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
  )

%br

%p
  Daca nu ati cerut modificarea parolei va rugam ignorati acest mesaj.
  %br
  Parola Dvs. nu se va schimba pana acesarea adresei web de mai sus si schimbarea manuala a parolei.
  
%br

%p
  Numai bine,
  %br
  echipa Kobi  
