#uniques.block
  .col-1
    %h4
      = t('welcome.marketing.usp_1')        
    %p
      Lorem ipsum si dolor aqmet
      
  .col-2
    %h4
      = t('welcome.marketing.usp_2')
    %p
      Lorem ipsum si dolor aqmet
      
  .col-3
    %h4
      = t('welcome.marketing.usp_3')
    %p
      Lorem ipsum si dolor aqmet
      
#tour
  .nav-left
    {
  .slides
    .slide
      tour here
  .nav-right
    }

%hr.spacer
  
#faq
  .video
    video here
    
  .faq
    faq here
