- content_for :title do 
  = t('activerecord.models.description.category')
  = render :partial => "shared/flash_messages", :locals => {:messages => [:error, :success], :role => 'resource'}


= link_to t('activerecord.operations.category.new'), new_category_path

%ul{:id => "accordion"}
  = render :partial => "category", :collection => Category.roots.sorted


