
= link_to t('activerecord.operations.category.new'), new_category_path 
%span.show_all.link
  = t('activerecord.operations.category.show_all')

%ul{:id => "accordion"}
  = render :partial => "category", :collection => @roots


